#wrap {
	width: 900px;
	margin: auto;
	overflow: hidden;
}
.cab {
	margin: 0;
	width: 400px;
	padding-left: 10px;
}
.cop {
	width: 60%;
	padding-left: 10px;
	margin: auto;
	float: left;
}
.aside {
	width: 20%;
	float: right;
}
.roda {
	clear: both;
	width: 150px;
	margin: auto;
}
img {
	width: 90%;
}
p {
	font-size: 18px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
}
ul li {
	position: relative;
}
li ul {
	position: absolute;
	display: none;
}
ul li a {
	display: block;
	text-decoration: none;
	color: #E2144A;
	background: #fff;
	padding: 5px;
	border: 1px solid #ccc; 
}
